endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set sv_enforceGameBuild 2189
#sv_listingIPOverride "193.105.234.171"



set es_enableCustomData 1 
set mysql_connection_string "server=localhost;database=irspring;userid=root;password=;"
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.remove_principal allow
add_ace resource.essentialmode command.add_ace allow

setr ea_LanguageName "en"                # set our language to english
setr ea_MenuButton "344"			# set our menu button to F2. default: "289"
setr ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "https://discord.com/api/webhooks/805398901619818517/83jUer9qZSTjdfiPWlDTdT2I5EiVYEfPol5f1v04IGAfP_9YPlUw6YoSV0i9vJCCIOId"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it
set ea_enableCallAdminCommand "false"
set ea_enableReportCommand "false"*






# These resources will start by default.
start mapmanager
start chat
start chat-theme-gtao
start sessionmanager
star pprpbanner
start fivem
start hardcap
start ABSHEL
start connectqueue
start bob74_ipl
start macanpd
start armorremove
start lspd_new

##base##
ensure mysql-async
ensure essentialmode
ensure async
ensure fivem-map-hipster
ensure instance
ensure cron
ensure skinchanger
ensure esx_skin
ensure esx_menu_default
start lightbars
start lightbarScript
start NativeUI
ensure esx_menu_dialog
start 1123
ensure esx_menu_list
ensure esx_menu_question
ensure esx_addonaccount
ensure esx_addoninventory
ensure new_banking
ensure ghmattimysql
start esx_fuel
start esx_gasstation
ensure esx_status
start antirpquestion
ensure esx_addons_gcphone
start esx_ciajob
ensure gcphone
start pol-buff
start scoreboard
start ARMOR
start eplorer
start esx_realparking
start fbi2
start hmw
start flashbang
start ambulance_map_new
##esx##
start ambulance_map
start Court_House
start esx_dispatch
start ls
start policeshsi
start esx_dadgostarijob
start core
start Pause-Menu
start jewellery_map
start scoreboard
start esx_scoreboard
start mythic_notify
start esx_datastore
start esx_society
start vote-system
start minihud
start esx_service
start esx_mecanojob
start speedcams
start esx_ambulancejob
start tp-script
start courthouse1
start mlo_vinewoodpd
start esx_xp
start eup-stream
start esx_fbijob
start cpr
start loading_screen
start esx_ambdelete
start tp_cia
start esx_vehicleshop
start esx_billing
start esx_license
start ciavan
start ambulance_medic
start esx_rental
start esx_marker
start esx_inventoryhud
start Mr_DeadScreen
start esx_paintball
start Governmentmap
start esx_government
start es_mapper
start PPRP_cars
start esx_inventoryhud_trunk
start polie_map_new
start esx_teleports
start flag 
start title
start esx_joblisting
start esx_eden_clotheshop
start dpclothing
start esx_weaponshop
start esx_vangelico
start ft_libs
start esx_advancedgarage
start esx_shop
start jeepg
start esx_tattooshop
start macanpd600m
start esx_advancedgarage
start amgc63
start esx_holdup
start esx_cia_jobs
start esx_dmvschool
start esx_basicneeds
start status
start esx_checker
start esx_barbershop
start lux_vehcontrol
start ecrp_dispach
start interact_sound
start esx_lscustom
start esx_policemdt
start esx-checkdeathcause
start progressBars
start esx_doorlock
start esx_blowtorch
start esx_robberybank
start changenameic
start pacific_bank_robbery #f
start esx_duty
start esx_ktackle
start radialmenu
#ensure meeta_advanced_craft
start esx_carwash
start atarevals_disablegtav
start esx_clothremover
start weapback
start esx_carlock
start esx_sit
start esx_rpchat
start esx_policejob
start showlicense
start license
start esx_customItems
start esx_shuffle
start pdvest
start legend
start esx_jobfinder
start esx_nightclub
start esx_hifi
start cars
start huds
# ems car #
start sanchezpd
start madabike
start DodgeEms

#family system#
start gangaccount
start gangprop
start gangs
start capture

start bansystem

### Jobs ###
start esx_jobs
start esx_taxijob
start holsterweapon
start scripts
start scripts2
start scripts4
start tazerefekt
start allclients
start vSync
start mhacking
start heli
start stream
start maps
start irs_discord
start esx_gps
start esx_drugs
start esx_government
#CG
start LegacyFuel
start playboy
start vineyards
start gabz_lost
start BlipsBuilder
start conlog

# map
start atms
start atarevals_pd
start pNotify
start idoverhead
start loading
start skincreator
start atarevals_announce
# new #
start esx_jail
start esx_spectate
start WeazelNews
start esx_weazel
start route68coffee
start esx_cafeshop
start aduty

start mdt
start mythic_progbar
start esx_vehiclecontrol
start 3dme
start esx_tracker
start diamond_pack
start esx_blackmarket
start dpemotes


start MGT
start 16challenger
start lp700
start f82
start viper
start cls63s
start lp770
start gtr
start z4bmw
start aperta
start hudhorc
start ghispo2
start polp1
start polgs350
start inf
start gmt900escalade
start w221s500
start bmwm8
start bmws
start cbr1000rrr
start s65amg
start exor
start supersport
start lx2018
start wald2018
start whistle
start dano_armas
start ped_system
start esx_accessories
start sheriff2rto
#start 675lt
#map 
start pd_sandy
start radio
start irs_admin
start ladder
start pillbox

#3d voice system mehrbod
setr voice_use3dAudio true
setr voice_useSendingRangeOnly true

#MEHRBOD
start paletopd
start malibu_mansion
start mumble_voip
start rp_radio
start loaf_paintball
start breze_paintballmap
start AdminArea
start mafiahouse
start lossantos
#start pd_citynew


##########HOUSING############
start mythic_interiors
start allhousing
start furni
start input
start meta_libs

##########IRANI############
start esx_chopshop
start casino
start esx_swiatla_ui
start esx_hunting
start map
start jsfour-mdc
start jsfour-criminalrecord
start prp_afk
start atarevals_taxicar
stop webadmin
start carhud
start policebd
start spawnmanager
start mvisiongt
#start webpack
#start yarn
#start screenshot-basic
start scripts5
start scripts3
start taxinew
start vipgroup
start esx_vigneronjob 
start vehicledata 
#start 650s
start SmartTrafficLights
start pointfinger
start PERSIANPIXEL_AC
start pprp_base
# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password "asdojasodijwqewq"

# A comma-separated list of tags for your server.
# For exampl
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "RolePlay"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "http://s11.picofile.com/file/8392729184/irspringsvbanner.png"
#sets banner_connecting "http://s10.picofile.com/file/8392729168/baner2.png"

# Set your server's hostname
sv_hostname "^0[^2I^0RA^1N^0] PersianPixel"

#sets Shop 
set mapname "Los Santos"
set gametype "Role Play"
sets Discord discord.gg/g37CGaZ


# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
#add_ace identifier.steam:11000011d4c6d8f command allow # allow all commands

#Server Flag
sets locale "fa-IR"

#koskesh 
add_ace identifier.steam:110000148adfa01 command allow

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 128)
sv_maxclients 5
#sets activitypubFeed atarevals@mastodon.online

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "y79wa1wt2vho4f95f9viof5wcqfri04w"
set steam_webApiKey "B1A57D2250560CBF83348456C616055B"

set onesync_enabled 1




# sbdn189uiug50e6eori7xpu13l0uxo6i 128 licnec  6j6vyd5gsxfhcn5je3ezohxa6tht0uk3

#qookqgspv4z0rigeobbzq1xoqub48cqn 32 licence with 1 point